:root {
    --light-gray: #f3f3f3;
    --dark-gray: #707070;
    --light-blue: #1792d2;
    --dark-blue: #143774;
    --main-font: 'Ubuntu', sans-serif;
    --secondary-font: 'Lora', serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: var(--dark-gray);
    font-family: var(--main-font);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);

}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.hr-line {
    width: 100%;
    height: 2px;
    background-color: var(--dark-gray);
    margin: 2em 0;
}

.accent-color {
    color: var(--light-blue);
}

.underlined {
    text-decoration: underline;
}


.header {
    background-color: var(--light-gray);
    padding: 2em 0;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    margin-bottom: .1em;
}

.header-subtitle {
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}


.header-nav ul {
    display: flex;
}

.header-nav li {
    margin: 0 1em;
}

.header-nav a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: inherit;
    padding: .2em 0;
    border-bottom: 1.5px solid transparent;
    transition: border-color linear 150ms, color linear 150ms;
}

.header-nav a:hover,
.headre-nav a:focus,
.header-nav a.active {
    border-color: var(--light-blue);
    color: var(--light-blue);
}



.main-container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}


/* Post */

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 100%;
}

/* .post:not(:last-child) {
    margin-bottom: 2em;
} */


.post img {
    display: inline-block;
    margin-bottom: 2em;
}

.post-left {
    margin-bottom: 1em;
}

.post-title {
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: .5em;
}

.post-text {
    margin-bottom: 1em;
}

.post-cta {
    font-weight: bold;
    text-transform: uppercase;
}

.widget {
    padding: 1.5em;
    border: 1em solid var(--light-gray);
    margin-bottom: 2em;
}

.widget-title {
    color: var(--dark-blue);
    text-transform: uppercase;
    margin-bottom: .5em;
}



.widget-title-s {
    font-size: 1.2rem;
    color: var(--light-blue);
    margin-top: .5em;
}

.widget-text {
    margin-top: 1em;
}

.recent-post:not(:last-child) {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--dark-gray);
}

.footer {
    padding: 4em 2em;
    background-color: var(--dark-blue);
    text-align: center;
    color: var(--light-gray);
}

.footer-title {
    margin-bottom: .4em;
}


.about-img {
    margin-bottom: 2em;
}

.about-title {
    color: var(--dark-blue);
    font-weight: 500;
    margin-bottom: 1em;
}

.about-title-s {
    color: var(--light-blue);
    margin-bottom: .5em;
}

.about-text {
    margin-bottom: 1em;
}


@media screen and (max-width: 380px) {
    .header-nav ul {
        flex-direction: column;
    }

    .header-nav li:not(:last-child) {
        margin-bottom: 1em;
    }
}


@media screen and (min-width: 800px) {
    .header {
        text-align: left;
    }

    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .header-subtitle {
        margin-bottom: 0;
    }
    
    .header-nav li {
        margin-right: 0;
        margin-left: 2em;
    }
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-content {
        width: 65%;
    }
    .main-sidebar {
        width: 30%;
    }

    .post:not(.feature-post) {
        flex-direction: row;
    }

    .post:not(.feature-post) img {
        /* width: 30rem; */
        /* height: 100%; */
    }

    .post:not(.feature-post) .post-left {
        /* width: 60%; */
        width: 40%;
        margin-right: 1em;
    }

    .post:not(.feature-post) .post-right {
        width: 60%;
        padding: 0;
    }

    .about-title {
        font-size: 2rem;
    }
}